#commentWrapper {
  padding-bottom: 30px;
  width: 504px;
  height: 100%;
  max-height: 549px;
  float: left;
}

#disqus_thread {
  padding: 0px 15px;
  max-height: 474px;
  min-height: 474px;
  overflow: auto;
  border: 1px solid #b9c2c7;
}
